.hmac {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: darkred;
  display: inline-block;
  font-weight: bold;
  margin: 2px 0;
  padding: 6px;
}

.error {
  color: red;
  font-size: 13px;
}
