body {
  margin: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
.monospace {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
  font-size: 13px;
}

.result {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: darkred;
  display: inline-block;
  font-weight: bold;
  max-width: 80%;
  margin: 2px 0;
  padding: 6px;
  overflow-wrap: break-word;
  white-space: normal;
}
